/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
header{
margin-bottom: 15px!important;	
padding: 0 0!important;
}
.menu ul li a {
    padding: 0 10px!important;
    margin-bottom: 15px!important;
}
.logo{
width: 180px;
}
/* banner start */
.h1-text {
	font-size: 35px;
	line-height: 50px;
	padding: 0;
}
.p2-text {
    padding: 0;
}
.b-text {
    text-align: center;
}
.p-text {
    padding-top: 40px;
}
.b-image{
	padding: 0;
}

.b-image img{
	width: 100%;
}
.btn-link {
    margin: 25px auto 0;
}
/* banner end */
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
header{
margin-bottom: 15px!important;	
padding: 5px 0!important;
}
.menu ul li a {
    padding: 0 10px!important;
    margin-bottom: 15px!important;
}
/* banner start */
.h1-text {
	font-size: 40px;
    padding: 0 50px 0;
}
.p2-text {
    padding: 0 50px;
}
.b-text {
    text-align: center;
}
.p-text {
    padding-top: 40px;
}
.b-image{
	padding: 0 50px;
}

.b-image img{
	width: 100%;
}
.btn-link {
    margin: 25px auto 0;
}
/* banner end */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

.menu ul li a {
    padding: 0 10px!important;
    margin-bottom: 15px!important;
}
/* banner start */
.h1-text {
    padding: 0 100px 0;
}
.p2-text {
    padding: 0 120px;
}
.b-text {
    text-align: center;
}
.p-text {
    padding-top: 40px;
}
.b-image{
	padding: 0 50px;
}

.b-image img{
	width: 100%;
}
.btn-link {
    margin: 25px auto 0;
}
/* banner end */
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
	/* banner start */
	.h1-text{
	padding-right: 40px;
	margin:10px 0 20px;
	color: #00000;
	font-size: 48px;
	font-weight: 700;
	line-height: 70px;
	/* banner end */
}
.p2-text {
    padding-right: 120px;
}
}